.trustedBy{
    height: 100px;
    background-color: #fafafa;
    justify-content: center;
    display: flex;
   
    .container{
        width: 760px;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        color: rgb(170, 167, 167);
        font-weight: 500;
       img{
        height: 50px;
        object-fit: contain;
       }
    }
}